## ***Lesson_series***

In [1]:
import pandas as pd
import numpy as np

In [ ]:
data_jd = pd.read_csv("agent_core/data/job_dataset.csv",encoding='latin-1')
data_jd

,JobID,Title,ExperienceLevel,YearsOfExperience,Skills,Responsibilities,Keywords
0,NET-F-001,.NET Developer,Fresher,0-1,C#; VB.NET basics; .NET Framework; .NET Core f...,Assist in coding and debugging applications; L...,.NET; C#; ASP.NET MVC; Entity Framework; SQL S...
1,NET-F-002,.NET Developer,Fresher,0-1,C#; .NET Framework basics; ASP.NET; Razor; HTM...,Write simple C# programs under guidance; Suppo...,.NET; C#; ASP.NET MVC; Entity Framework; SQL S...
2,NET-F-003,.NET Developer,Fresher,0-1,C#; VB.NET basics; .NET Core; ASP.NET MVC; HTM...,Contribute to development of small modules; As...,.NET; C#; ASP.NET MVC; SQL Server; Entity Fram...
3,NET-F-004,.NET Developer,Fresher,0-1,C#; .NET Framework; ASP.NET basics; SQL Server...,Support in software design documentation; Assi...,.NET; C#; SQL Server; Entity Framework; ASP.NET
4,NET-F-005,.NET Developer,Fresher,0-1,C#; ASP.NET; MVC; Entity Framework basics; SQL...,Learn to design and build ASP.NET applications...,.NET; C#; ASP.NET MVC; Entity Framework; SQL S...
...,...,...,...,...,...,...,...
1063,WEB-E-016,Web Developer,Experienced,5+,JavaScript; Angular; Node.js; Express.js; Djan...,Develop Angular front-end applications; Implem...,Angular; Node.js; Express.js; Django; SQL; Red...
1064,WEB-E-017,Web Developer,Experienced,4+,JavaScript; TypeScript; React; Node.js; Expres...,Develop and maintain full stack applications; ...,React; Node.js; Express.js; SQL; MongoDB; Dock...
1065,WEB-E-018,Web Developer,Experienced,5+,JavaScript; Vue.js; Node.js; Express.js; SQL; ...,Lead Vue.js front-end development; Integrate N...,Vue.js; Node.js; Express.js; SQL; Redis; Docke...
1066,WEB-E-019,Web Developer,Experienced,4+,JavaScript; React; Node.js; Express.js; MongoD...,Develop complex web applications; Integrate Re...,React; Node.js; Express.js; MongoDB; Docker; K...
1067,WEB-E-020,Web Developer,Experienced,5+,JavaScript; TypeScript; Angular; Node.js; Expr...,Lead Angular front-end development; Develop No...,Angular; Node.js; Express.js; SQL; Redis; Dock...

In [ ]:
data_resume=pd.read_csv("agent_core/data/resume_data.csv",encoding='latin-1')
data_resume.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,ï»¿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name Ã¯Â¼ City , State', 'Company Na...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

**Show row and column**

In [ ]:
print("Job description: ",data_jd.shape)
print("Resume: ",data_resume.shape)

Job description:  (1068, 7)
Resume:  (9544, 35)

**Clean Data Job description**

In [ ]:
data_jd_clean = data_jd.drop(columns=['ExperienceLevel','Keywords'])
data_jd_clean.tail()

,JobID,Title,YearsOfExperience,Skills,Responsibilities
1063,WEB-E-016,Web Developer,5+,JavaScript; Angular; Node.js; Express.js; Djan...,Develop Angular front-end applications; Implem...
1064,WEB-E-017,Web Developer,4+,JavaScript; TypeScript; React; Node.js; Expres...,Develop and maintain full stack applications; ...
1065,WEB-E-018,Web Developer,5+,JavaScript; Vue.js; Node.js; Express.js; SQL; ...,Lead Vue.js front-end development; Integrate N...
1066,WEB-E-019,Web Developer,4+,JavaScript; React; Node.js; Express.js; MongoD...,Develop complex web applications; Integrate Re...
1067,WEB-E-020,Web Developer,5+,JavaScript; TypeScript; Angular; Node.js; Expr...,Lead Angular front-end development; Develop No...

In [ ]:
data_jd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   JobID              1068 non-null   object
 1   Title              1067 non-null   object
 2   YearsOfExperience  1068 non-null   object
 3   Skills             1068 non-null   object
 4   Responsibilities   1068 non-null   object
dtypes: object(5)
memory usage: 41.8+ KB

In [ ]:
data_jd_clean.isnull().sum()

JobID                0
Title                1
YearsOfExperience    0
Skills               0
Responsibilities     0
dtype: int64

In [ ]:
data_jd_clean.dropna(inplace = True)

## **Content-Based**

In [ ]:
data_jd_clean.head(5)["Skills"]
# data_jd_clean.head(5)["Responsibilities"]

0    C#; VB.NET basics; .NET Framework; .NET Core f...
1    C#; .NET Framework basics; ASP.NET; Razor; HTM...
2    C#; VB.NET basics; .NET Core; ASP.NET MVC; HTM...
3    C#; .NET Framework; ASP.NET basics; SQL Server...
4    C#; ASP.NET; MVC; Entity Framework basics; SQL...
Name: Skills, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3, max_features=None,
                      strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}',
                      ngram_range=(1, 3),
                      stop_words='english')

#Filling Nans with empty string
data_jd_clean['Skills'] = data_jd_clean['Skills'].fillna('')

In [ ]:
# Fitting the TF-IDF on the "Skill" text
tfv_matrix = tfv.fit_transform(data_jd_clean["Skills"])

In [ ]:
tfv_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 55818 stored elements and shape (1067, 5311)>

In [ ]:
tfv_matrix.shape

(1067, 5311)

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [ ]:
sig[0]

array([0.76167322, 0.76164755, 0.76165245, ..., 0.7615953 , 0.76159466,
       0.76159534])

In [ ]:
# Reverse mapping of indices and skills
indice = pd.Series(data_jd_clean.index, index=data_jd_clean['Skills']).drop_duplicates()

In [ ]:
indice

Skills
C#; VB.NET basics; .NET Framework; .NET Core fundamentals; ASP.NET; MVC; HTML; CSS; JavaScript basics; SQL Server; Entity Framework basics; LINQ; Visual Studio; Git; Unit Testing basics       0
C#; .NET Framework basics; ASP.NET; Razor; HTML; CSS; JavaScript basics; SQL Server; Entity Framework basics; NUnit basics                                                                      1
C#; VB.NET basics; .NET Core; ASP.NET MVC; HTML; CSS; JavaScript basics; SQL Server; Git                                                                                                        2
C#; .NET Framework; ASP.NET basics; SQL Server; HTML; CSS; LINQ; Visual Studio                                                                                                                  3
C#; ASP.NET; MVC; Entity Framework basics; SQL Server; HTML; CSS; JavaScript basics                                                                                                             4
                                                                                                                                                                                             ...
JavaScript; Angular; Node.js; Express.js; Django; SQL; Redis; AWS; Docker; CI/CD; Testing frameworks                                                                                         1063
JavaScript; TypeScript; React; Node.js; Express.js; SQL; MongoDB; Docker; Kubernetes; GraphQL; REST APIs                                                                                     1064
JavaScript; Vue.js; Node.js; Express.js; SQL; Redis; Docker; AWS; CI/CD; Testing with Jest/Enzyme                                                                                            1065
JavaScript; React; Node.js; Express.js; MongoDB; Docker; Kubernetes; AWS; GraphQL; REST APIs                                                                                                 1066
JavaScript; TypeScript; Angular; Node.js; Express.js; SQL; Redis; Docker; AWS; CI/CD; Testing with Jest/Enzyme                                                                               1067
Length: 1067, dtype: int64

In [ ]:
print(indice["JavaScript; React; Node.js; Express.js; MongoDB; Docker; Kubernetes; AWS; GraphQL; REST APIs"])

1066

In [ ]:
def give_rec(skill,sig=sig):
  # Find the index corresponding to the skill by checking if the skill string is contained in the index
  # Using .iloc[0] to get the first match if multiple skills contain the substring
  try:
      idx = indice[indice.index.str.contains(skill, case=False, na=False)].iloc[0]
  except IndexError:
      return "Skill not found in the index." # Return a message if no skill is found

  # Get the pairwise similarity score
  sig_score = list(enumerate(sig[idx]))
  # Sort the skills
  sig_score = sorted(sig_score, key=lambda x: x[1], reverse=True)
  # Score of 10 most similar skill
  sig_score = sig_score[1:11]
  #skill indice
  skill_indice = [i[0] for i in sig_score]
  # Return the top 10 most similar skill
  return data_jd_clean['Skills'].iloc[skill_indice]

In [ ]:
give_rec("JAVA-SPRING BOOT, NODEJS, PYTHON")

'Skill not found in the index.'

## **Collaborative-Filtering**

In [ ]:
print("Hello")

## **Model Embedding gemini Using Faiss**

In [2]:
!pip install faiss-cpu

Requirement already satisfied: faiss-cpu in d:\fpt_uni\fall 2025\be-python\.venv\lib\site-packages (1.12.0)
Requirement already satisfied: numpy<3.0,>=1.25.0 in d:\fpt_uni\fall 2025\be-python\.venv\lib\site-packages (from faiss-cpu) (2.3.3)
Requirement already satisfied: packaging in d:\fpt_uni\fall 2025\be-python\.venv\lib\site-packages (from faiss-cpu) (25.0)

In [ ]:
#Config
import os
import google.generativeai as genai
import pandas as pd
import numpy as np
from tqdm import tqdm
import faiss

# Set API key
os.environ["GOOGLE_API_KEY"] = "AIzaSyCOkd7I1tpeSCDIzl-k1mzSJ8pKhZvLyVU"
genai.configure(api_key=os.environ["GOOGLE_API_KEY"])

In [ ]:
data_jd_clean["combined_text"] = (
    data_jd_clean["Title"].fillna("") + " "
    + data_jd_clean["Skills"].fillna("") + " "
    + data_jd_clean["Responsibilities"].fillna("")
)
data_jd_clean.head(3)

,JobID,Title,YearsOfExperience,Skills,Responsibilities,combined_text
0,NET-F-001,.NET Developer,0-1,C#; VB.NET basics; .NET Framework; .NET Core f...,Assist in coding and debugging applications; L...,.NET Developer C#; VB.NET basics; .NET Framewo...
1,NET-F-002,.NET Developer,0-1,C#; .NET Framework basics; ASP.NET; Razor; HTM...,Write simple C# programs under guidance; Suppo...,.NET Developer C#; .NET Framework basics; ASP....
2,NET-F-003,.NET Developer,0-1,C#; VB.NET basics; .NET Core; ASP.NET MVC; HTM...,Contribute to development of small modules; As...,.NET Developer C#; VB.NET basics; .NET Core; A...

In [ ]:
def get_gemini_embedding(text: str) -> np.ndarray:
    """Extract vector embedding from model Gemini."""
    text = text.strip().replace("\n", " ")
    if not text:
        return np.zeros(768)

    response = genai.embed_content(
        model="models/embedding-001",
        content=text,
        task_type="semantic_similarity",
    )
    return np.array(response["embedding"])

In [ ]:
embeddings = []
for text in tqdm(data_jd_clean["combined_text"], desc="Generating embeddings"):
    emb = get_gemini_embedding(text)
    embeddings.append(emb)

embeddings = np.vstack(embeddings)
print("Embeddings shape:", embeddings.shape)

Generating embeddings: 100%|██████████| 1067/1067 [12:35<00:00,  1.41it/s]

Embeddings shape: (1067, 768)

In [ ]:
dimension = embeddings.shape[1]
index = faiss.IndexFlatL2(dimension)
index.add(embeddings)
faiss.write_index(index, "jd_embeddings.faiss")

# Lưu dataframe gốc để map kết quả
data_jd_clean.to_csv("jd_data.csv", index=False)

In [ ]:
query = "Full-stack developer with React, Node.js, and SQL experience"

# Lấy embedding của query
query_emb = get_gemini_embedding(query).reshape(1, -1)

# Tìm top 5 JD gần nhất
D, I = index.search(query_emb, 5)

# In ra kết quả
print("Top matching jobs:")
print(data_jd_clean.iloc[I[0]][["JobID", "Title", "Skills", "Responsibilities"]])

Top matching jobs:
    JobID                               Title  \
456    12  Full Stack Developer - Experienced
455    11  Full Stack Developer - Experienced
463    19  Full Stack Developer - Experienced
452     8  Full Stack Developer - Entry Level
461    17  Full Stack Developer - Experienced

                                                Skills  \
456  HTML; CSS; JavaScript (ES6+); React; Angular; ...
455  HTML5; CSS3; JavaScript (ES6+); React; Angular...
463  HTML; CSS; JavaScript (ES6+); React; Angular; ...
452  HTML; CSS; JavaScript; React; Vue.js; Angular;...
461  HTML; CSS; JavaScript (ES6+); React; Angular; ...

                                      Responsibilities
456  Lead end-to-end web application development; A...
455  Develop scalable web applications; Build front...
463  Design and implement full-stack solutions; Dev...
452  Assist in frontend development with React or V...
461  Develop scalable, secure web applications; Lea...

## **Hybrid x Weaviate x LightFM**

In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer

In [7]:
data_jp = pd.read_csv("../agent_core/data/job_postings.csv",encoding='latin-1')
data_jp.head()

,id,title,description,address,status,expirationDate,createAt,rejectionReason,approvedById,recruiterId,skills
0,1,DevOps Engineer,Lead the planning and delivery of new product ...,"101 High St, Chicago, IL",PAUSED,2025-12-30,2025-09-24,Unclear job description,3,8,"Python, REST API, React"
1,2,Cloud Architect,Develop and maintain mobile apps for iOS and A...,"789 Broadway, Los Angeles, CA",APPROVED,2025-11-29,2025-10-25,Internal check required,5,3,"AWS, Java, MongoDB, Docker"
2,3,Full Stack Developer,Work across frontend and backend to deliver fe...,"456 Market St, San Francisco, CA",PAUSED,2025-12-24,2025-09-04,Low budget for position,1,6,"React, PostgreSQL, Docker, TypeScript"
3,4,Cloud Architect,Design user-centered interfaces for web and mo...,"789 Broadway, Los Angeles, CA",REJECTED,2025-11-23,2025-09-13,Does not meet requirements,5,9,"Django, Git"
4,5,Backend Developer,Develop responsive UI with modern frameworks.,"456 Market St, San Francisco, CA",PENDING,2025-12-25,2025-10-03,Unclear job description,4,6,"React, Docker, Kubernetes, MySQL"

In [5]:
data_jp.isnull().sum()

id                 0
title              0
description        0
address            0
status             0
expirationDate     0
createAt           0
rejectionReason    0
approvedById       0
recruiterId        0
skills             0
dtype: int64

In [9]:
#rename column id to JobID
data_jp.rename(columns={'id':'JobID'}, inplace=True)
data_jp.head()

,JobID,title,description,address,status,expirationDate,createAt,rejectionReason,approvedById,recruiterId,skills
0,1,DevOps Engineer,Lead the planning and delivery of new product ...,"101 High St, Chicago, IL",PAUSED,2025-12-30,2025-09-24,Unclear job description,3,8,"Python, REST API, React"
1,2,Cloud Architect,Develop and maintain mobile apps for iOS and A...,"789 Broadway, Los Angeles, CA",APPROVED,2025-11-29,2025-10-25,Internal check required,5,3,"AWS, Java, MongoDB, Docker"
2,3,Full Stack Developer,Work across frontend and backend to deliver fe...,"456 Market St, San Francisco, CA",PAUSED,2025-12-24,2025-09-04,Low budget for position,1,6,"React, PostgreSQL, Docker, TypeScript"
3,4,Cloud Architect,Design user-centered interfaces for web and mo...,"789 Broadway, Los Angeles, CA",REJECTED,2025-11-23,2025-09-13,Does not meet requirements,5,9,"Django, Git"
4,5,Backend Developer,Develop responsive UI with modern frameworks.,"456 Market St, San Francisco, CA",PENDING,2025-12-25,2025-10-03,Unclear job description,4,6,"React, Docker, Kubernetes, MySQL"

In [23]:
#drop other columns not needed
data_jp_clean = data_jp[["JobID","title","skills","address"]]
data_jp_clean.head()

,JobID,title,skills,address
0,1,DevOps Engineer,"Python, REST API, React","101 High St, Chicago, IL"
1,2,Cloud Architect,"AWS, Java, MongoDB, Docker","789 Broadway, Los Angeles, CA"
2,3,Full Stack Developer,"React, PostgreSQL, Docker, TypeScript","456 Market St, San Francisco, CA"
3,4,Cloud Architect,"Django, Git","789 Broadway, Los Angeles, CA"
4,5,Backend Developer,"React, Docker, Kubernetes, MySQL","456 Market St, San Francisco, CA"

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [ ]:
#step 1: Generate embeddings for job postings
model = SentenceTransformer('all-MiniLM-L6-v2')
job_postings_embeddings = model.encode(data_jp_clean["Content"].tolist(), show_progress_bar=True)

In [ ]:
#step 2: Use cosine similarity to find similar job postings
content_similarity = cosine_similarity(job_postings_embeddings)

In [ ]:
# Function to get top N similar job postings
def get_similar_job_postings(job_id, top_n=5):
    # Find the index of the job posting
    idx = data_jp_clean.index[data_jp_clean['JobID'] == job_id].tolist()[0]
    # Get similarity scores for this job posting
    sim_scores = list(enumerate(content_similarity[idx]))
    # Sort the job postings based on similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the indices of the top N similar job postings
    sim_indices = [i[0] for i in sim_scores[1:top_n+1]]
    # Return the top N similar job postings
    return data_jp_clean.iloc[sim_indices]